.main{
    width: 100%;
    height: 90px;
    border-bottom-right-radius: 10px;
     border-bottom-left-radius: 10px;
     background-color: #A0322D;
     display: flex;
     justify-content: space-around;
}
.logo{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    color: white;
    font-weight: bold;
}
.navigation{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.whyUs, .contacts, .info{
    width: 30%;
    height: 50%;
    border: 0.5px solid white;
    border-radius: 10px;
    font-size: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}