.main{
    width: 100%;
    height: 2000px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.bigPic{
    width: 95%;
    height: 700px;
    background-image: url(./pics/bol-soe-sovremennoe-ofisnoe-zdanie.jpg);
    background-size: cover;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-position: center center;
}
.title{
    width: 55%;
    font-size: 40px;
    font-weight: bold;
    transform: translateX(100px);
}
.button{
    width: 250px;
    height: 70px;
    background-color: brown;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    padding: 10px;
    color: white;
    cursor: pointer;
    transform: translateX(100px);
}
.second{
      width: 95%;
    height: 800px;
    display: flex;
    flex-direction: column; 
}
.bigContainer{
    width: 95%;
    height: 95%;
    display: flex;
    justify-content: space-between;
}
.titleTwo{
    font-size: 40px;
    font-weight: bold;
    padding: 25px;
}
.pic{
    width: 50%;
    height: 100%;
    background-image: url(./pics/vid-na-zdanie-skoly.jpg);
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
}
.text{
    width: 45%;
    font-size: 30px;
    line-height: 1.5;
}