.main{
    width: 100%;
    height: 950px;
    background-color: #FFFFEE;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.pic{
    width: 40%;
    height: 100%;
    background-image: url(./pics/ee640489084ae0b8f9412a194d49a8bb.jpg);
    background-size: cover;
    border-radius: 10px;
}
.containerForText{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
}
.title{
    font-size: 50px;
    font-weight: bold;
}
.text{
    font-size: 30px;
}
.ways{
   font-size: 30px;
   display: flex;
   flex-direction: column;
   gap: 15px;
   width: 100%;
}
.wayItem {
    padding: 10px 0;
}