
  @font-face {
    font-family: Jura;
    src: url(./pages/fonts/Jura-Bold.ttf);
  }
  @font-face {
    font-family: Jura;
    src: url(./pages/fonts/Jura-Light.ttf);
  }
  @font-face {
    font-family: Jura;
    src: url(./pages/fonts/Jura-Regular.ttf);
  }
*{
  font-family: Jura;
}