.main{
    width: 100%;
    height: 950px;
    background-color: #FFFFEE;
    display: flex;
    justify-content: space-around;

}
.textarea{
    width: 300px;
    height:100px;
    outline:1px solid #a01e1e;
}
.data{
    width: 200px;
    border: 1px solid #a01e1e; 
  background-color: #f0f0f0;
  padding: 10px;
  font-size: 20px;
}
.choosePay{
    width: 30%;
    height: 20%;
    border: 1px solid black;
    display: flex;
    border-radius: 10px;
}
.leftPart{
    width: 50%;
    height: 100%;
    background-color: transparent;
    border-right: 1px solid black;
    transition: all 0.2s ease-out;
     border-left: none;
    border-top: none;
    border-bottom: none;
    font-size: 30px;
    color: rgb(0, 0, 0);
}
.rightPart{
   width: 50%;
    height: 100%;
    background-color: transparent;
    transition: all 0.2s ease-out;
    border-left: none;
    border-top: none;
    border-bottom: none;
    border-right: none;
     font-size: 30px;
    color: rgb(0, 0, 0);
}
.rightPart:hover{
    background-color: #a01e1e;
    color: white;
}
.rightPart:focus{
    background-color: #a01e1e;
    color: white;
}
.leftPart:focus{
    background-color: #a01e1e;
    color: white;
}
.leftPart:hover{  background-color: #a01e1e;
    color: white;
}