.main{
    width: 100%;
    height: 950px;
    background-color: #FFFFEE;
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    padding-top:60px;
}
.textarea{
    width: 400px;
    height:100px;
    outline:1px solid #a01e1e;  
    transform: translateX(10%);
}
.title{
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
transform: translateX(2%);
}
.data{
    width: 385px;
    border: 1px solid #a01e1e; 
  background-color: #987979;
  padding: 10px;
  color: white;
  font-size: 23px;
  transform: translateX(10%);
}
.choosePay{
    width: 30%;
    height: 20%;
    border: 1px solid black;
    display: flex;
    transform: translateX(7%);
    border-radius: 10px;
}
.leftPart{
    width: 50%;
    height: 100%;
    background-color: transparent;
    border-right: 1px solid black;
    transition: all 0.2s ease-out;
     border-left: none;
    border-top: none;
    border-bottom: none;
    font-size: 30px;
    color: rgb(0, 0, 0);
}
.rightPart{
   width: 50%;
    height: 100%;
    background-color: transparent;
    transition: all 0.2s ease-out;
    border-left: none;
    border-top: none;
    border-bottom: none;
    border-right: none;
     font-size: 30px;
    color: rgb(0, 0, 0);
}
.rightPart:hover{
    background-color: #a01e1e;
    color: white;
}
.rightPart:focus{
    background-color: #a01e1e;
    color: white;
}
.leftPart:focus{
    background-color: #a01e1e;
    color: white;
}
.leftPart:hover{  background-color: #a01e1e;
    color: white;
}
.sendButton{
    width: 400px;
    height: 100px;
    background-color: #a01e1e;
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transform: translateX(10%);
}
